<!doctype html>
<html lang="ru">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style type="text/css">
      {{{stylesheet}}}
    </style>
   </head>
  <body>
    <div class="container">
      <div class = "main_content">
        <h3>{{title}}</h3>
{{>content}}
      </div>
    </div>
{{{scripts}}}
  </body>
</html>
