<!doctype html>
<html lang="ru">
  <head>
    <title>{{subject}}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
   </head>
  <body>
    <div class="container" style="margin: 20px;">
      <h3>{{subject}}</h3>
      <div class="email_link" style="font-size: 10px; margin-bottom: 10px">{{{view_link}}}</div>
      <div class="row">
{{>content}}
      </div>
      <div class="row">
        <div style="font-size: 10px; margin-bottom: 10px">{{{unsubscribe}}}</div>
      </div>
    </div>
  </body>
</html>
