<!doctype html>
<html lang="ru">
  <head>
    <title>{{subject}}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style type="text/css">
      {{{stylesheet}}}
    </style>
   </head>
  <body>
    <div class="container">
      <div class="row heading">
        <h3>{{subject}}</h3>
      </div>
      <div class="row">
        <div class="email_link">{{{view_link}}}</div>
      </div>
      <div class = "row">
{{>content}}
      </div>
    </div>
  </body>
</html>
