{{#show_create}}
  {{{link_new}}}
{{/show_create}}
<div class="hyphenate">
  {{{content}}}
</div>
<table class="table">
  <thead>
    <tr>
{{#get_header}}
    <th>
      {{.}}
    </th>
{{/get_header}}
    </tr>
  </thead>
  <tbody>
{{#get_items}}
  <tr>
    <td class="hyphenate">{{{view_link}}}</td>
    {{#edit_link}}
      <td>{{{edit_link}}}</td>
      <td>{{{delete_link}}}</td>
    {{/edit_link}}
  </tr>
{{/get_items}}
  <tbody>
</table>
