<!doctype html>
<html lang="ru">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href='{{favicon}}' rel='shortcut icon' type='image/x-icon'/>
    {{{stylesheet}}}
   </head>
  <body>
    <div class="container">
      <div class="paging">
        {{{get_paging}}}
      </div>
      <nav class="navbar navbar-default" role="navigation">
        {{#search_form}}
          <form class="navbar-form navbar-left" role="search" action="{{{action}}}" method="POST">
            <div class="form-group">
              <input type="text" name="query" class="form-control" placeholder="{{input_text}}">
            </div>
            <button type="submit" class="btn btn-default">{{button_text}}</button>
          </form>
        {{/search_form}}
        <ul class="nav navbar-nav navbar-right">
        {{#navigation}}
          <li><a href="{{url}}">{{title}}</a></li> 
        {{/navigation}}
        </ul>
      </nav>
      <a href="#" class="link_top hidden-xs"><i class="fa fa-angle-up">&nbsp;</i>Наверх</a>
      <div class = "main_content">
        <h2>{{title}}</h2>
      {{#flashes}}
        {{#info}}
          <div class="alert alert-info">{{.}}</div>
        {{/info}}
        {{#error}}
          <div class="alert alert-danger">{{.}}</div>
        {{/error}}
        {{#warning}}
          <div class="alert alert-warning">{{.}}</div>
        {{/warning}}
        {{#success}}
          <div class="alert alert-success">{{.}}</div>
        {{/success}}
      {{/flashes}}
{{>content}}
      </div>
      <div class="paging">
        {{{get_paging}}}
      </div>
      <footer><div class="small">Сайт сделан на фреймворке Kohana. <a href="https://github.com/Oreolek/kangana">Исходный код</a> движка доступен по лицензии <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.</div></footer>
    </div>
{{{scripts}}}
  </body>
</html>
