{{#show_create}}
  {{{link_new}}}
{{/show_create}}
<div class="hyphenate">
  {{{content}}}
</div>
<table class="table">
{{#get_items}}
  <tr>
    <td>{{{view_link}}}</td>
    <td class="hyphenate">{{{description}}}</td>
    {{#edit_link}}
    <td>{{{edit_link}}}</td>
    {{/edit_link}}
    {{^edit_link}}
    <td>{{is_sent}}</td>
    {{/edit_link}}
    <td>{{{send_button}}}</td>
  </tr>
{{/get_items}}
</table>
