input[type=button],
input[type=submit] {
  @extend .btn;
}

.email_link {
  font-size: $font-size-small;
  text-align: center;
  margin-bottom: $navbar-margin-bottom;
}

span.hidden-xs {
  display: inline-block !important;
}

.hidden {
  display: none;
}

.link_top {
  position: fixed;
  bottom: ($font-size-base * 2);
  left: ($font-size-base * 2);
}

code {
  white-space: normal;
}

footer {
  @include make-row();
  margin-top: $font-size-base;
  div {
    @include make-xs-column(12);
    text-align: center;
  }
}

.main_content {
  @include make-sm-column(12);
}

.paging { // pagination
  @include make-row();
  text-align: center;
  a {
    @media screen and (max-width: 767px) {
      @include make-xs-column(1);
    }
    margin-left: $font-size-base;
    &.active {
      font-weight: 700;
      @media screen and (min-width: 768px) {
        font-size: $font-size-base * 1.25;
      }
    }
  }
}
