{{#show_create}}
  {{{link_new}}}
{{/show_create}}
{{#iframe_code}}
<p>{{text}}:<code>{{code}}</code></p>
{{/iframe_code}}
<div class="hyphenate">
  {{{content}}}
</div>
<table class="table">
{{#get_items}}
  <tr>
    <td>{{{view_link}}}</td>
    <td class="hyphenate">{{{description}}}</td>
    {{#edit_link}}
    <td>{{{edit_link}}}</td>
    <td>{{{delete_link}}}</td>
    {{/edit_link}}
  </tr>
{{/get_items}}
</table>
