<?php defined('SYSPATH') OR die('No direct access allowed.');

return array(

	'driver'       => 'File',
  // you can set the user and his password using Password minion task.
  // there can be only one user
  'users'        => array(
      'admin' => 'password-hash'
  ),
	'hash_method'  => 'sha512',
	'hash_key'     => "hashing_key",
	'lifetime'     => 1209600,
	'session_key'  => 'auth_user',

);
